#wrapper {
  border: 1px solid;
  float: left;
  width: 590px; }

h2 {
  float: left;
  margin: 20px;
  width: 100%; }

.month {
  float: left;
  height: 147px;
  margin: 20px; }

h1 {
  text-align: center; }
